*.pyc
build/
dist/
htmlcov/
MANIFEST
.*.swp
*.egg-info
.idea/
coverage.xml
docs/_build
.coverage*
.python-version
.tox
.venv/
venv/
.env
.vscode/
db.sqlite3

# Include tracked hidden files and directories in search and diff tools
!.dockerignore
!.env.example
!.github/
!.gitignore
!.gitlab-ci.yml
!.mypy.ini
!.pre-commit-config.yaml
!.readthedocs.yml
!.renovaterc.json
